<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                I'm <b>wwju</b>, Ruby developer, VIM user<br />
                my Email: wwju@yandex.ru<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/wwju">github.com/wwju</a><br />
                <a href="https://bitbucket.com/wwju">bitbucket.com/wwju</a><br />
                <a href="https://twitter.com/wwjurew">twitter.com/wwjurew</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
